
.work-section {
    height: 200px !important;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.work-section-wrapper {
    height: auto;
    width: 200px !important;
}

/* #hoverable :hover {
    border-bottom-color: aqua !important;
    border-bottom-width: 5px !important;
    border-bottom-style: solid !important;
} */

/* a :hover{
    border-bottom-color: #43dce4 !important;
    border-bottom-width: 5px !important;
    border-bottom-style: solid !important;
} */

a {
    text-decoration: none;
}


 .work-section-image {
    width: inherit;
    height: auto;
    border-width: 0px;
}

.work-section-text {
    z-index: 10;
    top: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-weight: 500;
    border-width: 0px;
}

.custom-row {
    display: flex;
    flex-direction: row;
}

.more-custom-row {
    height: 100px;
    flex-direction: row;

    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-social {
    width: 90px;
    height: 90px;
}

.img-social-item {
    width: 100%;
}

.twitch{
    outline: 100px solid rgba(112, 67, 160, 0.1) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    height: 100px;
}

.instagram{
    outline: 100px solid rgba(216, 79, 132, 0.1) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    height: 100px;
}

.facebook{
    outline: 100px solid rgba(71, 90, 149, 0.1) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    height: 100px;
}

.soundcloud{
    outline: 100px solid rgba(253, 69, 0, 0.1) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    height: 100px;
}

.twitter{
    outline: 100px solid rgba(64, 152, 201, 0.1) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    height: 100px;
}

.youtube{
    outline: 100px solid rgba(255, 0, 0, 0.1) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    height: 100px;
}

.tiktok{
    outline: 100px solid rgba(26, 0, 0, 0.1) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    height: 100px;
}

.contactme{
    outline: 100px solid rgba(110, 163, 169, 0.1) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    height: 100px;
}